/* reset do css */
* {
margin: 0;
padding: 0;
box-sizing: border-box
}

body{
  background: url("./img/IMG-20170920-WA0032.jpg");
    font-family: arial;
    background-size: auto 178vh;
    height: 100vh;  
    font-size: 10px;
 }
/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
body {
  font-size: 14px;
}
}

 header{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .menu{
   background-color: whitesmoke;
   position: fixed;
   width: 100vw;
 top: 0;
 }
 
 .menu ul {
   display: flex;
   justify-content: space-around;
 }
 
 .menu li {
   list-style: none;
 }
 .menu a {
   background-color: whitesmoke;
   padding: 10px 20px;
   display: block;
}
 a {
   text-decoration: none;
   color: cornflowerblue;
  }
 .a:haver {
   text-decoration: none;
 }
 
 .site-title {
   text-align: center; 
   color: rgb(166, 181, 212);
 }
 
 .site-subtitle {
   font-style: italic; 
   text-align: center;
   color: rgb(166, 181, 212)}

 .img-portfolio {
     width: 150px;
     height: 108px;
   }